
/* ------------------------------------  Navbar part start ------------------------------------- */

/* - Navbar-default    */


.navbar-akash {
    background-color: transparent;
    border: none;
    opacity: 0.8;
    box-shadow: 0px 0px 00px #000000;
}
.navbar-akash .navbar-brand {
    font-family: verdana;
    font-weight: bolder;
    color: red;
    background-color: transparent;

}
.navbar-akash .navbar-brand:hover,
.navbar-akash .navbar-brand:focus {
    color: blue;
    background-color: transparent;
    background-color: transparent;
    border-bottom: solid 2px skyblue;
}
.navbar-akash .navbar-text {
    color: orangered;
}
.navbar-akash .navbar-nav > li > a {
    color: green;
    font-family: verdana;
    
}
.navbar-akash .navbar-nav > li > a:hover,
.navbar-akash .navbar-nav > li > a:focus {
    
    background-color: transparent;
    height: 45px;
    border-bottom: solid 2px skyblue;

}
.navbar-akash .navbar-nav > .active > a,
.navbar-akash .navbar-nav > .active > a:hover,
.navbar-akash .navbar-nav > .active > a:focus {
    color: green;
    background-color: orangered;
}
.navbar-akash .navbar-nav > .disabled > a,
.navbar-akash .navbar-nav > .disabled > a:hover,
.navbar-akash .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}
.navbar-akash .navbar-toggle {
    border-color: #000000;
}
.navbar-akash .navbar-toggle:hover,
.navbar-akash .navbar-toggle:focus {
    background-color: black;
    color: red;
}
.navbar-akash .navbar-toggle .icon-bar {
    background-color: green;

}
.navbar-akash .navbar-collapse,
.navbar-akash .navbar-form {
    border-color: #101010;
}
.navbar-akash .navbar-nav > .open > a,
.navbar-akash .navbar-nav > .open > a:hover,
.navbar-akash .navbar-nav > .open > a:focus {
    
    background-color: transparent;
}
@media (max-width: 767px) {
    .navbar-akash .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .navbar-akash .navbar-nav .open .dropdown-menu .divider {
        background-color: #000000;
    }
    .navbar-akash .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
        background-color: #000000;
    }
    .navbar-akash .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-akash .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
        height: 50px;
    }
    .navbar-akash .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-akash .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-akash .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }
    .navbar-akash .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-akash .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-akash .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}
.navbar-akash .navbar-link {
    color: #9d9d9d;
}
.navbar-akash .navbar-link:hover {
    color: #fff;
}
.navbar-akash .btn-link {
    color: #9d9d9d;
}
.navbar-akash .btn-link:hover,
.navbar-akash .btn-link:focus {
    color: #fff;
}
.navbar-akash .btn-link[disabled]:hover,
fieldset[disabled] .navbar-akash .btn-link:hover,
.navbar-akash .btn-link[disabled]:focus,
fieldset[disabled] .navbar-akash .btn-link:focus {
    color: #444;
}


/* ---------------------  Navbar part end --------------------------------- */


/* ---------------------- Body part start  --------------------------------- */


body {
    margin: 0px;
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-image: url("../images/light-bg10.jpg");
    background-attachment: fixed;
}

a{
    font-family:Verdana;
    color: #1b6d85;


}
a:hover{
    color: #000000;
}
.well{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px #000000;
    color: #000000;
}

.well h2 a{
    font-family: Verdana ;
    font-size: 30px; 
    color: #ffffff;
    text-shadow: 2px 2px #222;
}
.well h2 a:hover{
    color: #000000;
    text-shadow: 2px 2px #ffffff;
}


.well-custom{

    margin-left: 9px;
    margin-right:9px;
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: transparent;
  border-radius: 0;
  width: 250px;
  float: left;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
          box-shadow: 0 0 5px rgba(0,0,0,0.5);;
  

}





.well-custom-list a{
    font-size: medium;
    color: #000000;
    display: block;

    margin-left: 30px;
    padding: 3px 0px;
    border-bottom: solid 0.5px #000000;
}
.well-custom-list a:hover{
    background-color: #4484BB;
    text-align: right;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

.scrollToTop {
    bottom: 100px;
    display: none;
    height: 40px;
    line-height: 40px;
    padding: 0;
    position: fixed;
    right: 0;
    text-align: center;
    width: 40px;
}
/* -------------------------------- Body part end ---------------------------------------  */



/*       Panel grid            */


.panel-grid {
    margin-left: 20px;
    margin-right:20px;
  margin-bottom: 0px;
  position: relative;
  margin-top: auto;
  background-color: transparent;
  border-radius: 0;
  width: 300px;
  height: 550px;
  float: left;
  padding: 10px;
  
}



.panel-grid h2 a{
 font-size: 30px;

}
.panel-grid-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
